<h1>Hi!</h1>

<p>To reset your password, please click the following link:</p>

<p><a href="{{ url }}">{{ url }}</a></p>

<p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>

<p>Cheers!</p>